.header1{
    color: #5e17eb;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 50px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    padding: 20px;

}
.header2{
    color: black;
    font-family: 'Tenor Sans', serif;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
.thankyou{
    color: #5e17eb;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 100px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    padding: 20px;
}
.p1{
    color: black;
    font-family: 'Tenor Sans', serif;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
 .formtext{
    color: black;
    font-size: 15px;
    font-family: 'Tenor Sans', serif;
 }
 .question{
    color: black;
    border-radius: 150px;
    font-size: 20px;
    font-family: 'Tenor Sans', serif;
 }
.contact-form{
    color: black;
    text-align: center;
}
.container { 
    height: 200px;
    position: relative;
  }
  
.center {
    font-size: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .matchingq{
      height: 300px;
      width: 300px;
  }
  /* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

/*matching2 css*/
.selector- input {
  position: absolute;
  z-index: 999;
}
.lion {
  background-image: url(https://i.ibb.co/Xy9vcD3/lion.png);
}

.monkey {
  background-image: url(https://i.ibb.co/6R0yn2p/monkey.png);
}
.snake {
  background-image: url(https://i.ibb.co/z6Jv1yT/snake.png);
}

.bird {
  background-image: url(https://i.ibb.co/6YTScFV/bird.png);
}

.giraffe {
  background-image: url(https://i.ibb.co/FJ2VNVX/giraffe.png);
}

.cat {
  background-image: url(https://i.ibb.co/yNNncLs/cat.png);
  }

.dog {
  background-image: url(https://i.ibb.co/mq5F9kt/dog.png);
}

.horse {
  background-image: url(https://i.ibb.co/9ZdbqfD/horse.png);
}

.fish {
  background-image: url(https://i.ibb.co/7bpfphj/fish.png);
}

.selector- input:active+.match {
  opacity: 1;
}

.selector- input:checked+.match {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.match {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 200px;
  height: 200px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;

}

.match:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}
